.intro-page {
  margin-top: 1em;
  text-align: center;

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1rem;
    color: #612727;
    margin: 1em;
  }
}

.logements-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); // Réglage de la grille
  gap: 1rem;
  justify-content: center;
}

.logement-1,
.logement-2,
.logement-3,
.logement-4,
.logement-5 {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
  }

  .description-logement {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    img {
      max-width: 100%;
      height: auto;
      display: none;
    }
  }

  .buttons-carousel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;

    button {
      font-size: 1rem;
    }
  }

  .description {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
      span {
        font-weight: 700;
      }
    }

    .electro {
      margin-top: 1em;
    }

    .chambres {
      margin-top: 1em;
      h5 {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: underline;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 0.5rem 0;
          font-size: 1rem;
          white-space: pre-line;

          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .logements-list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); // Ajustez les colonnes pour les écrans plus petits
  }
}
